@import "style";
@import "project";

body {

    .bio-container {
        width: 50vw;
        margin: 0 auto;
    }

    div.top {
        h2 {
            font-size: 2rem;
            margin-bottom: 0;
        }

        .me {
            width: 50%;
        }

        .bio-container {
            width: 50vw;
            margin: 0 auto;
        }
    }

    div.bio {
        div.main {
            text-align: left;

            div.bio {
                p {
                    font-size: 1.5rem;
                    margin-top: 80px;
                    margin-bottom: 80px;
                    line-height: 3rem;
                }
            }

            div.link-container {
                margin-bottom: 80px;

                ls {
                    font-size: 1.2rem;
                    margin-right: 60px;

                }
            }

            div.section {
                display: flex;
                text-align: left;

                p {
                    font-size: 1.2rem;
                    line-height: 2.5rem;
                    margin-bottom: 60px;
                }

                div.left {
                    width: 150px;

                    p {
                        color: #727272;
                        width: 300px;
                    }
                }

                div.right {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }


                ls {
                    text-decoration: underline;
                    margin-top: 100px;
                    margin-bottom: 100px;
                    font-size: 1.5rem;
                }

            }
        }
    }

    div.sitemape {
        div.sitemap-flex {
            background-color: #F3F3F3;
        }
    }

}
