@import "style";
@import "project";

body {
    div.top {
        h2 {
            margin-bottom: 0;
        }
    }    

    div.bio {
        div.main {
            div.section {

                .bio {
                    display: grid;
                    grid-template-columns: 1fr;
                }

                div.left {
                    p {
                        color: #727272;
                    }
                }

                div.right {
                    text-align: left;
                    display: grid;
                }
            }
            
            .bottom {
                margin-bottom: 100px;
            }
        }
    }

}
