@import "style";

$margin-section: 70px;
$margin-text: 40px;
$margin-line: 10px;
$break:90px;

.body {
    background-color: #FAFAFA;
}

.hero {
    width: 100%;

    .nav-bar {
        position: absolute;
        padding-top: 5vh;
        width: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;

        h3 {
            color:#707070;
            font-size: 1.1rem;
            margin-bottom: 0;
            margin-left: 15px;
        }
    }

    .hero__title {

        h1 {
            color: #272727;
        }

        .title__info {
            text-align: right;
            color: #707070;

        }
        
        ul {
            padding: 0;
        }

        p, ul {
            color: #707070;
        }
    }

    .text__red {
        color:red;
        font-size: 1.7rem;
    }
}

.works {

    .works__card {
        video {
            width: 100%;
        }

        .works__card__text {
            text-align: center;

            h4 {
                margin: 0;
            }
        }
    }
    

    
}

.text--grey {
    color:#707070;
}

hr {
    margin: 0;
    margin-bottom: $break;
    border-width: 3px;
}

