@import "style";

body {

    div.quote {
        height: 100vh;
        width: 100vw;
        background-color: #1B1B1B;

        div.quote-center {
            position: relative;

            div.img-right {}

            div.text-left {
                top: 0;
                z-index: 1;

                h1 {
                    color: white;
                    margin-bottom: 0;
                }

                h2,
                h4.underline-link {
                    color: #878787;
                }

                div.link-container {
                    h4.underline-link {
                        display: inline-block;
                        margin-right: 50px;
                        text-decoration: underline;
                    }
                }
            }




        }

        .top-container {
            width: 70vw;
            margin: 0 auto;
        }
    }

    div.works {
        background-color: #F3F3F3;
        padding-bottom: 100px;

        div.nav-category {
            display: flex;
            justify-content: center;
            text-align: center;

            ls {
                color: #A9A9A9;
            }
        }

        div.grid {
            display: grid;
            grid-template-columns: 1fr;

            div.card {
                background-color: inherit;
                border: 0;

                img {
                    width: 100%;
                }

                video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    width: 100%;
                    height: 100%;
                }

                div.card-text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        color: #797979;
                        margin-bottom: 0;
                    }

                    h4 {
                        margin-bottom: 0;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
