@import "style";

body {

    div.quote {
        height: 100vh;
        background-color: white;

        div.quote-center {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: left;

            h1 {
                font-size: 3rem;
                line-height: 5rem;
                margin-bottom: 0;
            }

            h2,
            h4.underline-link {
                color: #878787;
            }

            h2 {
                font-size: 1.5rem;
                letter-spacing: 0;
                margin-top: 40px;
                margin-bottom: 30px;
            }

            div.link-container {
                h4.underline-link {
                    display: inline-block;
                    font-size: 1.2rem;
                    margin-right: 50px;
                    text-decoration: underline;
                }
            }
        }
        
        .top-container {
            width:70vw;
            margin: 0 auto;
        }
    }

    div.works {
        background-color: #F3F3F3;
        padding-bottom: 100px;

        div.nav-category {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 55px;

            ls {
                font-size: 1.5rem;
                margin: 0 2rem;
                color: #A9A9A9;
            }
        }

        div.grid {
            display: grid;
            grid-template-columns: 1fr;

            div.card {
                background-color: inherit;

                border: 0;

                img {
                    width: 100%;
                }

                div.card-text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 30px;
                    padding-bottom: 40px;

                    h3 {
                        font-size: 1.5rem;
                        color: #797979;
                        margin-bottom: 0;
                    }

                    h4 {
                        font-size: 1.2rem;
                        margin-bottom: 0;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
