@import "project";

body {
    .top {
        height: 100vh;

        h2 {
            color: white;
            margin: 0;
            width: 100%;
        }

        h4 {
            color: #878787;
            text-decoration: underline;
        }
    }

    .photos {

        img {
            width: 100%;
        }

        p {
            color: grey;
            margin-bottom: 0;
            margin-top: .5rem;
            font-size: .8rem;
        }

    }

    .info {
        p {
            color: white;

        }
    }

    .generate-button {
        text-align: center;
        margin-top: 30px;

        ls {
            margin-bottom: 30px;
            font-size: 1.5rem;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
