@import url('https://fonts.googleapis.com/css?family=Cardo:700');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
    font-family: ProximaNovaB;
    src: url('fonts/proximanova-bold.otf');
}

@font-face {
    font-family: ProximaNovaSB;
    src: url('fonts/proximanova-semibold.otf');
}

@font-face {
    font-family: ProximaNova;
    src: url('fonts/proximanova-regular.otf');
}

body {

    a {
        color: unset;
    }

    p {
        font-family: ProximaNova;
    }

    .nova-semibold {
        font-family: ProximaNovaSB;
    }

    .nova-bold {
        font-family: ProximaNovaB;
    }

    .nova {
        font-family: ProximaNova;
    }

    .cardo {
        font-family: cardo;
    }

    .lato {
        font-family: lato;
    }

    .oswald {
        font-family: oswald;
    }

    .sitemap {
        div.sitemap-flex {
            div.card {
                height: auto;
                border: 0;
                background-color: transparent;

                h3 {
                    margin-bottom: 0;
                }

                ls {
                    color: #828282;
                }

                .leon-icon {
                    width: 200px;
                }
            }
        }
    }

    .bg-color-black {
        background-color: black;
    }

    .bg-color-dark {
        background-color: #1B1B1B;
    }

    .bg-color-grey {
        background-color: #FAFAFA;
    }

    .bg-color-light {
        background-color: #FEFEFE;
    }

    .bg-color-white {
        background-color: red;
    }

    .bg-image-gala {
        background-image: url(../img/next-project-gala.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-image-dancer {
        background-image: url(../img/next-project-dancer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-image-long {
        background-image: url(../img/next-project-long.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-image-kathy {
        background-image: url(../img/next-project-kathy.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-image-near {
        background-image: url(../img/next-project-near.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .bg-image-shadows {
        background-image: url(../img/next-project-shadows.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container {
        padding: 0;
    }

    .nav-container {
        width: 95vw;
        margin: 0 auto;
    }

    .underline {
        text-decoration: underline;
    }

    margin: 0;
}
