@import "style";

.top {
    height: 100vh;
    width: 100vw;
    background-image: url(img/project-top-dancer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
