@import url('https://fonts.googleapis.com/css?family=Cardo:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: ProximaNovaB;
    src: url('fonts/proximanova-bold.otf');
}

@font-face {
    font-family: ProximaNovaSB;
    src: url('fonts/proximanova-semibold.otf');
}

@font-face {
    font-family: ProximaNova;
    src: url('fonts/proximanova-regular.otf');
}

body {

    a {
        color: unset;
    }

    p {
        font-family: ProximaNova;
    }

    .nova-semibold {
        font-family: ProximaNovaSB;
    }

    .nova-bold {
        font-family: ProximaNovaB;
    }

    .nova {
        font-family: ProximaNova;
    }

    .cardo {
        font-family: cardo;
    }

    .lato {
        font-family: lato;
    }

    .nav-container {
        width: 80vw;
        margin: 0 auto;
    }

    .sitemap {
        div.sitemap-flex {
            margin: 0 auto;
            background-color: #FFFFFF;
            height: 15vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div.card {
                height: auto;
                border: 0;

                img {
                    width: 150px;
                }

                ls {
                    font-size: 1.2rem;
                    font-family: ProximaNova;
                    color: #828282;
                }

                ls.margin {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .top {
        height: 100vh;

        img.nav-back {
            position: fixed;
            width: 60px;
            margin-top: 10vh;
            margin-left: 10vw;
            z-index: 1;
        }

        h3.nav-right {
            font-size: 2.5rem;
            color: #878787;
            width: 100vw;
            text-align: right;
            position: fixed;
            margin-top: 10vh;
            padding-right: 10vw;
            z-index: 0;
            right: 0;
        }

        .top-flex {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top-center {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .next-project {
        width: 100vw;
        height: 500px;

        h3 {
            color: white;
            padding-top: 30px;
        }
    }

    .hero-next {
        background-image: url(img/next-project-gala.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    margin: 0;
}
