body {
    .delay-slow-2 {
        animation-delay: .2s;
    }

    .delay-slow-4 {
        animation-delay: .4s;
    }

    .delay-slow-6 {
        animation-delay: .6s;
    }
    .delay-1s {
        animation-delay: 1s;
    }
    .delay-6s {
        animation-delay: 6s;
    }
}
