@import "responsive";

@media (min-width: 300px) and (orientation:portrait) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 1.2rem;
        }

        h4 {
            font-size: 0.8rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;
    }

    .container {
        .bio__section {
            display: flex;
            flex-direction: column;

            .bio__right {
                grid-template-columns: 1fr;
            }

            .bio--main {
                p {
                    font-size: 1rem;
                    line-height: 2.2rem;
                    margin-bottom: 25px;
                }
            }

            .bio--detail {

                p,
                ls {
                    font-size: .9rem;
                    line-height: 2rem;
                }
            }

            .bio__left {
                text-align: left;

                p {
                    width: 60px;
                }
            }

            .bio__right {
                .bio__right__card {
                    width: 300px;
                    margin-bottom: 20px;
                }

            }
        }
    }

}




@media (min-width: 576px) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 1.2rem;
        }

        h4 {
            font-size: .8rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;
    }

    .container {
        .bio__section {
            display: flex;
            flex-direction: row;

            .bio--main {
                p {
                    font-size: 1rem;
                    line-height: 2.2rem;
                    margin-bottom: 25px;
                }
            }

            .bio--detail {

                p,
                ls {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }

            .bio__left {
                text-align: right;

                p {
                    width: 80px;
                    margin-right: 20px;
                }
            }

            .bio__right {
                .bio__right__card {
                    width: 300px;
                    margin-bottom: 20px;
                }

            }
        }
    }
}

@media (min-width: 768px) and (orientation:portrait) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;
    }

    .container {
        .bio__section {
            .bio--main {
                p {
                    font-size: 1.2rem;
                    line-height: 3rem;
                    margin-bottom: 40px;
                }
            }

            .bio--detail {

                p,
                ls {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }

            .bio__left {
                p {
                    width: 80px;
                    margin-right: 25px;
                }
            }

            .bio__right {
                grid-template-columns: 1fr 1fr;

                .bio__right__card {
                    width: 300px;
                    margin-bottom: 30px;
                }

            }
        }
    }
}

@media (min-width: 768px) and (orientation:landscape) {
    .top {
        $margin: 20px;

        h2 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: .8rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;
    }

    .container {
        .bio__section {
            .bio--main {
                p {
                    font-size: 1.2rem;
                    line-height: 3rem;
                    margin-bottom: 40px;
                }
            }

            .bio--detail {

                p,
                ls {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }

            .bio__left {
                p {
                    width: 80px;
                    margin-right: 25px;
                }
            }

            .bio__right {
                grid-template-columns: 1fr 1fr;

                .bio__right__card {
                    width: 300px;
                    margin-bottom: 30px;
                }

            }
        }
    }
}

@media (min-width: 992px) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 1.7rem;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;
    }

    .container {
        .bio__section {
            .bio--main {
                p {
                    font-size: 1.2rem;
                    line-height: 3rem;
                    margin-bottom: 40px;
                }
            }

            .bio--detail {

                p,
                ls {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }

            .bio__left {
                p {
                    width: 100px;
                    margin-right: 25px;
                }
            }

            .bio__right {
                grid-template-columns: 1fr 1fr;

                .bio__right__card {
                    width: 300px;
                    margin-bottom: 30px;
                }

            }
        }
    }

}


@media (min-width: 1200px) {
    .top {
        $margin: 50px;

        h2 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;
    }

    .bio--container {
        width: 750px;
        $margin-bottom: 35px;

        h3 {
            font-size: 1.7rem;
            margin-top: 50px;
            margin-bottom: $margin-bottom;
        }

        p,
        ls {
            font-size: 1.4rem;
            line-height: 3rem;
            margin-bottom: $margin-bottom;
        }

        .bio__contact {
            margin-bottom: $margin-bottom;

            ls {
                margin-right: $margin-bottom;
            }
        }

        .bio__resume {
            margin-bottom: $margin-bottom;
        }
    }
}
