@media (min-width: 300px) {
  .container {
    max-width: 93vw; }

  .sitemap .sitemap--flex {
    margin: 0 auto;
    height: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.5rem; }
    .sitemap .sitemap--flex ls {
      font-size: .6rem;
      margin: 0; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 5px; }

  .next-project {
    height: 180px; }
    .next-project .hero-next {
      height: 140px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: white; }
      .info .info--grid .info__card {
        margin-bottom: 10px; }
        .info .info--grid .info__card h3 {
          font-size: .8rem; }
        .info .info--grid .info__card h4 {
          font-size: 1rem; }

  #back-icon {
    width: 30px;
    z-index: 3; } }
@media (min-width: 576px) {
  .container {
    max-width: 540px; }

  .sitemap .sitemap--flex h3 {
    font-size: 1.7rem; }
  .sitemap .sitemap--flex ls {
    font-size: .8rem;
    margin: 0; }

  .next-project {
    height: 250px; }
    .next-project .hero-next {
      height: 200px; }

  .info--grid .info__card {
    margin-bottom: 10px; }
    .info--grid .info__card h3 {
      font-size: 1rem; }
    .info--grid .info__card h4 {
      font-size: 1.2rem; }

  #back-icon {
    width: 30px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; }

  .sitemap .sitemap--flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.8rem; }
    .sitemap .sitemap--flex ls {
      font-size: .8rem;
      margin: 0; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 10px; }

  .next-project {
    height: 340px; }
    .next-project .hero-next {
      height: 280px; }

  #back-icon {
    width: 35px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; }

  .next-project {
    height: 400px; }
    .next-project .hero-next {
      height: 350px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: flex;
      justify-content: space-between;
      color: white; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1000px; }

  .next-project {
    height: 550px; }
    .next-project .hero-next {
      height: 450px; } }
@media (min-width: 300px) and (orientation: portrait) {
  .works h4 {
    font-size: .8rem; }
  .works ls {
    font-size: .8rem;
    margin: 0 15px; }
  .works .works__category {
    padding: 20px; }
  .works .works__card__text {
    padding-top: 20px;
    padding-bottom: 25px; }
  .works .large-screen {
    display: none; }
  .works .small-screen {
    display: block; }

  .quote .quote--center h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem; }
  .quote .quote--center img {
    width: 100%;
    height: auto; }
  .quote .quote--center .link--container {
    margin-top: 20px; }
    .quote .quote--center .link--container h4 {
      font-size: .8rem;
      margin: 0 30px; } }
@media (min-width: 576px) {
  .works h4 {
    font-size: .8rem; }
  .works ls {
    font-size: .8rem;
    margin: 0 30px; }
  .works .works__category {
    padding: 30px; }
  .works .works__card__text {
    padding-top: 25px;
    padding-bottom: 35px; }

  .quote .quote--center h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem; }
  .quote .quote--center img {
    width: 100%;
    height: auto; }
  .quote .quote--center .link--container {
    margin-top: 30px; }
    .quote .quote--center .link--container h4 {
      font-size: 1.1rem;
      margin: 0 30px; } }
@media (min-width: 768px) and (orientation: landscape) {
  .works h4 {
    font-size: 1.2rem; }
  .works ls {
    font-size: 1.2rem;
    margin: 0 30px; }
  .works .works__category {
    padding: 20px; }
  .works .works__card__text {
    padding-top: 25px;
    padding-bottom: 35px; }

  .quote .quote--center h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem; }
  .quote .quote--center img {
    width: 75%;
    height: auto; }
  .quote .quote--center .link--container {
    margin-top: 20px; }
    .quote .quote--center .link--container h4 {
      font-size: 1.1rem;
      margin: 0 30px; } }
@media (min-width: 768px) and (orientation: portrait) {
  .works h4 {
    font-size: 1.2rem; }
  .works ls {
    font-size: 1.2rem;
    margin: 0 30px; }
  .works .works__category {
    padding: 20px; }
  .works .works__card__text {
    padding-top: 25px;
    padding-bottom: 35px; }

  .quote .quote--center h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem; }
  .quote .quote--center img {
    width: 100%;
    height: auto; }
  .quote .quote--center .link--container {
    margin-top: 20px; }
    .quote .quote--center .link--container h4 {
      font-size: 1.1rem;
      margin: 0 30px; } }
@media (min-width: 992px) {
  .works h4 {
    font-size: 1.2rem; }
  .works ls {
    font-size: 1.2rem;
    margin: 0 30px; }
  .works .works__category {
    padding: 30px; }
  .works .works__card__text {
    padding-top: 25px;
    padding-bottom: 35px; }

  .quote .quote--center h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem; }
  .quote .quote--center img {
    width: 80%;
    height: auto; }
  .quote .quote--center .link--container {
    margin-top: 30px; }
    .quote .quote--center .link--container h4 {
      font-size: 1.1rem;
      margin: 0 30px; } }
@media (min-width: 1200px) {
  .works h4 {
    font-size: 1.2rem; }
  .works ls {
    font-size: 1.3rem;
    margin: 0 30px; }
  .works .works__category {
    padding: 40px; }
  .works .works__card__text {
    padding-top: 30px;
    padding-bottom: 40px; }

  .quote .quote--center h1 {
    font-size: 3rem;
    letter-spacing: .15rem; }
  .quote .quote--center img {
    width: 75%;
    height: auto; }
  .quote .quote--center .link--container {
    margin-top: 40px; }
    .quote .quote--center .link--container h4 {
      font-size: 1.1rem;
      margin: 0 30px; }

  .large-screen {
    display: block; }

  .small-screen {
    display: none; } }

/*# sourceMappingURL=res-home.css.map */
