@import "responsive";

@media (min-width: 300px) and (orientation: portrait) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 100%;
        }

        h2 {
            margin-left: 10px;
            font-size: 2.5rem;
            letter-spacing: .1rem;
        }
    }

    .photos {

        $photo-margin: 15px;

        .photo--grid {
            display: grid;
            grid-column-gap: 0;
            grid-template-columns: 1;

            margin-top: $photo-margin;

            .photo__img {
                margin-bottom: $photo-margin;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .photo__info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: $photo-margin;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 300px) and (orientation: landscape) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 45%;
        }

        h2 {
            margin-left: 10px;
            font-size: 2.5rem;
            letter-spacing: .1rem;
        }
    }

    .photos {

        $photo-margin: 20px;

        .photo--grid {
            display: grid;
            grid-column-gap: 0;
            grid-template-columns: 60% 40%;

            margin-top: $photo-margin;

            .photo__img {
                display: flex;
                justify-content: flex-end;
                margin-bottom: $photo-margin;

                img {
                    height: 85vh;
                }
            }

            .photo__info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: $photo-margin;
                margin-left: $photo-margin;

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: $photo-margin;
                }

                p {
                    font-size: .8rem;
                    line-height: $photo-margin;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 576px) and (orientation: portrait) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 100%;
        }

        h2 {

            font-size: 3rem;
            letter-spacing: .1rem;
        }
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 60%;
        }

        h2 {
            margin-left: 0;
            font-size: 3rem;
            letter-spacing: .1rem;
        }
    }

    .photos {
        $photo-margin: 30px;

        .photo--grid {
            display: grid;
            grid-column-gap: 0;
            grid-template-columns: 1;
            margin-top: $photo-margin;

            .photo__img {
                margin-bottom: $photo-margin;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .photo__info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: $photo-margin;

                h3 {
                    font-size: 2.3rem;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 1.3rem;
                    line-height: $photo-margin;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 45%;
        }

        h2 {
            margin-left: 0;
            font-size: 3rem;
            letter-spacing: .1rem;
        }
    }

    .photos {}
}

@media (min-width: 992px) {
    .top {
        .header--container {
            width: 65vw;
        }

        img {
            width: 50%;
        }

        h2 {
            font-size: 3.5rem;
            letter-spacing: .1rem;
        }
    }

    .photos {
        $photo-margin: 22px;

        .photo--grid {
            display: grid;
            grid-column-gap: 0;
            grid-template-columns: 1;
            margin-top: $photo-margin;

            .photo__img {
                margin-bottom: $photo-margin;

                img {
                    height: 85vh;
                    width: auto;
                }
            }

            .photo__info {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: $photo-margin;

                h3 {
                    font-size: 1.75rem;
                    margin-bottom: $photo-margin;
                }

                p {
                    font-size: 1rem;
                    line-height: $photo-margin;
                    margin-bottom: 0;
                }

                .photo--margin0 {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .top {
        .header--container {
            width: 55vw;
        }

        img {
            width: 52%;
        }

        h2 {
            font-size: 4rem;
            letter-spacing: .2rem;
        }
    }
}
