@import "responsive";

@media (min-width: 300px) and (orientation: portrait) {

    h1 {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    h4 {
        font-size: .9rem;
    }

    .quote--underline {
        margin-right: 20px;
    }

    ls {
        font-size: .8rem;
        margin: 0 15px;
    }

    .works__category {
        padding: 20px;
    }

    .works__card__text {
        padding-top: 10px;
        padding-bottom: 20px;
    }


    .quote {
        .quote--center {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .quote__right {
                width: 100%;
                margin-bottom: 30px;

                img {
                    width: 100%;
                }

                .hero--portrait {
                    display: none;
                }

                .hero--landscape {
                    display: block;
                }
            }
        }

        .h1--portrait {
            display: block;
        }

        .h1--landscape {
            display: none;
        }
    }

    .large-screen {
        display: none;
    }

    .small-screen {
        display: block;
    }

}

@media (min-width: 300px) and (orientation: landscape) {

    h1 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: .9rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: .9rem;
    }

    .quote--underline {
        margin-right: 20px;
    }

    ls {
        font-size: .7rem;
        margin: 0 15px;
    }

    .works__category {
        padding: 20px;
    }

    .works__card__text {
        padding-top: 10px;
        padding-bottom: 20px;
    }


    .quote {
        .quote--center {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .quote__left {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
            }

            .quote__right {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    position: absolute;
                    right: 0;
                    z-index: 0;
                    width: 35%;
                }

                .hero--portrait {
                    display: block;
                }

                .hero--landscape {
                    display: none;
                }
            }
        }

        .h1--portrait {
            display: none;
        }

        .h1--landscape {
            display: block;
        }

    }

    .large-screen {
        display: block;
    }

    .small-screen {
        display: none;
    }
}

@media (min-width: 576px) and (orientation: portrait) {

    h1 {
        font-size: 1.8rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .works__category {
        padding: 30px;
    }

    .works__card__text {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .quote--underline {
        margin-right: 30px;
    }


    .quote {
        .quote--center {
            .quote__right {
                img {
                    width: 30%;
                }

                .hero--portrait {
                    display: block;
                }

                .hero--landscape {
                    display: none;
                }
            }
        }

        .h1--portrait {
            display: block;
        }

        .h1--landscape {
            display: none;
        }
    }
}

@media (min-width: 768px) and (orientation: landscape) {

    h1 {
        font-size: 1.5rem;
        line-height: 2.8rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 1rem;
    }

    ls {
        font-size: 1rem;
        margin: 0 20px;
    }

    .works__card__text {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .quote--underline {
        margin-right: 40px;
    }


    .quote {
        .quote--center {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .quote__left {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
            }

            .quote__right {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    position: absolute;
                    right: 0;
                    z-index: 0;
                    width: 30%;
                }

                .hero--portrait {
                    display: block;
                }

                .hero--landscape {
                    display: none;
                }
            }

            .h1--portrait {
                display: none;
            }

            .h1--landscape {
                display: block;
            }
        }
    }
}

@media (min-width: 768px) and (orientation: portrait) {

    h1 {
        font-size: 2.2rem;
        line-height: 4rem;
        margin-top: 15px;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1.2rem;
    }

    ls {
        font-size: 1rem;
        margin: 0 20px;
    }

    .works__card__text {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .quote--underline {
        margin-right: 40px;
    }


    .quote {
        .quote--center {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .quote__right {
                width: 100%;
                margin-bottom: 10px;

                img {
                    width: 40%;
                }

                .hero--portrait {
                    display: block;
                }

                .hero--landscape {
                    display: none;
                }
            }
        }

        .h1--portrait {
            display: block;
        }

        .h1--landscape {
            display: none;
        }
    }
}

@media (min-width: 992px) {

    h1 {
        font-size: 2rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 1.2rem;
    }

    ls {
        font-size: 1.2rem;
        margin: 0 40px;
    }

    .works__category {
        padding: 40px;
    }

    .works__card__text {
        padding-top: 25px;
        padding-bottom: 35px;
    }


    .quote {
        .quote--center {
            .quote__left {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
            }

            .quote__right {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    position: absolute;
                    right: 0;
                    z-index: 0;
                    width: 35%;
                }

                .hero--portrait {
                    display: block;
                }

                .hero--landscape {
                    display: none;
                }
            }
        }

        .h1--portrait {
            display: none;
        }

        .h1--landscape {
            display: block;
        }
    }

    .large-screen {
        display: block;
    }

    .small-screen {
        display: none;
    }
}


@media (min-width: 1200px) {

    h1 {
        font-size: 2rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 1.4rem;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 1.2rem;
    }

    ls {
        font-size: 1.3rem;
        margin: 0 50px;
    }

    .works__category {
        padding: 55px;
    }

    .works__card__text {
        padding-top: 30px;
        padding-bottom: 40px;
    }


    .quote {
        .quote--center {
            .quote__left {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
            }

            .quote__right {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    position: absolute;
                    right: 0;
                    z-index: 0;
                    width: 35%;
                }

                .hero--portrait {
                    display: block;
                }

                .hero--landscape {
                    display: none;
                }
            }
        }

        .h1--portrait {
            display: none;
        }

        .h1--landscape {
            display: block;
        }
    }

    .large-screen {
        display: block;
    }

    .small-screen {
        display: none;
    }
}
