@import "responsive";

@media (min-width: 300px) and (orientation:portrait) {

    $margin-section: 40px;
    $margin-text: 20px;
    $margin-line: 5px;
    $break: 40px;

    .hero {
        .hero__title {
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: $margin-text;

            h1 {
                font-size: 3rem;
                letter-spacing: -.1rem;
                margin-bottom: 70px;

            }

            .title__info {

                h3 {
                    font-size: 1.3rem;
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: .8rem;
                line-height: 1.5rem;
            }
        }
    }


    .works {

        .works__card {

            img {
                width: 100%;
            }

            .works__card__text {
                text-align: center;
                margin-top: $margin-text;
                margin-bottom: $margin-section;

                p {
                    font-size: .8rem;
                    margin: $margin-line;
                }

                h4 {
                    font-size: 1.3rem;
                    margin: 0;
                }
            }
        }
    }

}

@media (min-width: 576px) {
    $margin-section: 40px;
    $margin-text: 20px;
    $margin-line: 5px;
    $break: 40px;

    .hero {
        .hero__title {
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: $margin-section;

            h1 {
                font-size: 3rem;
                letter-spacing: -.1rem;
                margin-bottom: 0px;

            }

            .title__info {

                h3 {
                    font-size: 1.3rem;
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: .8rem;
                line-height: 1.5rem;
            }
        }
    }


    .works {

        .works__card {

            img {
                width: 100%;
            }

            .works__card__text {
                text-align: center;
                margin-top: $margin-text;
                margin-bottom: $margin-section;

                p {
                    font-size: .8rem;
                    margin: $margin-line;
                }

                h4 {
                    font-size: 1.3rem;
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 992px) {

    $margin-section: 70px;
    $margin-text: 40px;
    $margin-line: 10px;
    $break: 90px;

    .hero {
        .hero__title {
            height: 500px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-direction: row;
            margin-bottom: $margin-section;

            h1 {
                font-size: 3.5rem;
                letter-spacing: -.1rem;
            }

            .title__info {

                h3 {
                    font-size: 1.7rem;

                    margin-bottom: 15px;
                }
            }

            p {
                font-size: 1rem;
                line-height: 2rem;
            }
        }
    }

    .works--2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $margin-text;
    }

    .works {

        .works__card {

            img {
                width: 100%;
            }

            .works__card__text {
                text-align: center;
                margin-top: $margin-text;
                margin-bottom: $margin-section;

                p {
                    font-size: 1rem;
                    margin: $margin-line;
                }

                h4 {
                    font-size: 2rem;
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 1200px) {}
