@media (min-width: 300px) {
  .container {
    max-width: 93vw; }

  .sitemap .sitemap--flex {
    margin: 0 auto;
    height: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.5rem; }
    .sitemap .sitemap--flex ls {
      font-size: .6rem;
      margin: 0; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 5px; }

  .next-project {
    height: 180px; }
    .next-project .hero-next {
      height: 140px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: white; }
      .info .info--grid .info__card {
        margin-bottom: 10px; }
        .info .info--grid .info__card h3 {
          font-size: .8rem; }
        .info .info--grid .info__card h4 {
          font-size: 1rem; }

  #back-icon {
    width: 20px;
    z-index: 3; } }
@media (min-width: 576px) {
  .container {
    max-width: 540px; }

  .sitemap .sitemap--flex h3 {
    font-size: 1.7rem; }
  .sitemap .sitemap--flex ls {
    font-size: .8rem;
    margin: 0; }

  .next-project {
    height: 250px; }
    .next-project .hero-next {
      height: 200px; }

  .info--grid .info__card {
    margin-bottom: 10px; }
    .info--grid .info__card h3 {
      font-size: 1rem; }
    .info--grid .info__card h4 {
      font-size: 1.2rem; }

  #back-icon {
    width: 30px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; }

  .sitemap .sitemap--flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.8rem; }
    .sitemap .sitemap--flex ls {
      font-size: .8rem;
      margin: 0; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 10px; }

  .next-project {
    height: 340px; }
    .next-project .hero-next {
      height: 280px; }

  #back-icon {
    width: 35px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; }

  .next-project {
    height: 400px; }
    .next-project .hero-next {
      height: 350px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: flex;
      justify-content: space-between;
      color: white; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1000px; }

  .next-project {
    height: 550px; }
    .next-project .hero-next {
      height: 450px; } }
@media (min-width: 300px) and (orientation: portrait) {
  .top {
    margin-bottom: 40px; }
    .top h2 {
      font-size: 1.2rem; }
    .top h4 {
      font-size: 0.8rem;
      margin-top: 40px;
      margin-bottom: 0; }

  .container .bio__section {
    display: flex;
    flex-direction: column; }
    .container .bio__section .bio__right {
      grid-template-columns: 1fr; }
    .container .bio__section .bio--main p {
      font-size: 1rem;
      line-height: 2.2rem;
      margin-bottom: 25px; }
    .container .bio__section .bio--detail p,
    .container .bio__section .bio--detail ls {
      font-size: .9rem;
      line-height: 2rem; }
    .container .bio__section .bio__left {
      text-align: left; }
      .container .bio__section .bio__left p {
        width: 60px; }
    .container .bio__section .bio__right .bio__right__card {
      width: 300px;
      margin-bottom: 20px; } }
@media (min-width: 576px) {
  .top {
    margin-bottom: 40px; }
    .top h2 {
      font-size: 1.2rem; }
    .top h4 {
      font-size: .8rem;
      margin-top: 40px;
      margin-bottom: 0; }

  .container .bio__section {
    display: flex;
    flex-direction: row; }
    .container .bio__section .bio--main p {
      font-size: 1rem;
      line-height: 2.2rem;
      margin-bottom: 25px; }
    .container .bio__section .bio--detail p,
    .container .bio__section .bio--detail ls {
      font-size: 1rem;
      line-height: 2rem; }
    .container .bio__section .bio__left {
      text-align: right; }
      .container .bio__section .bio__left p {
        width: 80px;
        margin-right: 20px; }
    .container .bio__section .bio__right .bio__right__card {
      width: 300px;
      margin-bottom: 20px; } }
@media (min-width: 768px) and (orientation: portrait) {
  .top {
    margin-bottom: 40px; }
    .top h2 {
      font-size: 2rem; }
    .top h4 {
      font-size: 1.2rem;
      margin-top: 40px;
      margin-bottom: 0; }

  .container .bio__section .bio--main p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 40px; }
  .container .bio__section .bio--detail p,
  .container .bio__section .bio--detail ls {
    font-size: 1rem;
    line-height: 2rem; }
  .container .bio__section .bio__left p {
    width: 80px;
    margin-right: 25px; }
  .container .bio__section .bio__right {
    grid-template-columns: 1fr 1fr; }
    .container .bio__section .bio__right .bio__right__card {
      width: 300px;
      margin-bottom: 30px; } }
@media (min-width: 768px) and (orientation: landscape) {
  .top {
    margin-bottom: 20px; }
    .top h2 {
      font-size: 1.3rem; }
    .top h4 {
      font-size: .8rem;
      margin-top: 20px;
      margin-bottom: 0; }

  .container .bio__section .bio--main p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 40px; }
  .container .bio__section .bio--detail p,
  .container .bio__section .bio--detail ls {
    font-size: 1rem;
    line-height: 2rem; }
  .container .bio__section .bio__left p {
    width: 80px;
    margin-right: 25px; }
  .container .bio__section .bio__right {
    grid-template-columns: 1fr 1fr; }
    .container .bio__section .bio__right .bio__right__card {
      width: 300px;
      margin-bottom: 30px; } }
@media (min-width: 992px) {
  .top {
    margin-bottom: 40px; }
    .top h2 {
      font-size: 1.7rem; }
    .top h4 {
      font-size: 1.2rem;
      margin-top: 40px;
      margin-bottom: 0; }

  .container .bio__section .bio--main p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 40px; }
  .container .bio__section .bio--detail p,
  .container .bio__section .bio--detail ls {
    font-size: 1rem;
    line-height: 2rem; }
  .container .bio__section .bio__left p {
    width: 100px;
    margin-right: 25px; }
  .container .bio__section .bio__right {
    grid-template-columns: 1fr 1fr; }
    .container .bio__section .bio__right .bio__right__card {
      width: 300px;
      margin-bottom: 30px; } }
@media (min-width: 1200px) {
  .top {
    margin-bottom: 50px; }
    .top h2 {
      font-size: 2rem; }
    .top h4 {
      font-size: 1.2rem;
      margin-top: 50px;
      margin-bottom: 0; }

  .bio--container {
    width: 750px; }
    .bio--container h3 {
      font-size: 1.7rem;
      margin-top: 50px;
      margin-bottom: 35px; }
    .bio--container p,
    .bio--container ls {
      font-size: 1.4rem;
      line-height: 3rem;
      margin-bottom: 35px; }
    .bio--container .bio__contact {
      margin-bottom: 35px; }
      .bio--container .bio__contact ls {
        margin-right: 35px; }
    .bio--container .bio__resume {
      margin-bottom: 35px; } }

/*# sourceMappingURL=res-bio.css.map */
