@import "responsive";

@media (min-width: 300px) and (orientation:portrait) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: 0.8rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;

        .intro--grid {
            grid-template-columns: 30% 70%;
        }

        .text--right {
            text-align: right;
            margin-right: 10px;
        }

        img {
            width: 100%;
        }
    }

    .container {
        $margin-1: 10px; //narrow
        $margin-2: 30px;
        margin-bottom: 0; //wide

        .margin-bottom-1 {
            margin-bottom: $margin-1;
        }

        .margin-bottom-2 {
            margin-bottom: $margin-2;
        }

        .margin-top-2 {
            margin-top: $margin-2;
        }

        .font-size-1 {
            font-size: .9rem;
            line-height: 1.7rem;
            width:100%;
        }

        .font-size-2 {
            font-size: .9rem;
            line-height: 1.7rem;
        }

        .bio__edu {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

}




@media (min-width: 576px) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: .8rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;

        .intro--grid {
            grid-template-columns: 40% 60%;
        }

        .text--right {
            text-align: right;
            margin-right: 30px;
        }

        img {
            width: 50%;
        }
    }

    .container {
        $margin-1: 10px; //narrow
        $margin-2: 30px; //wide

        .margin-bottom-1 {
            margin-bottom: $margin-1;
        }

        .margin-bottom-2 {
            margin-bottom: $margin-2;
        }

        .margin-top-2 {
            margin-top: $margin-2;
        }

        .font-size-1 {
            font-size: 1.1rem;
            line-height: 2.5rem;
        }

        .font-size-2 {
            font-size: 1.1rem;
            line-height: 2.5rem;
        }

        .bio__edu {
            display: grid;
            grid-template-columns: 1fr 1fr
        }
    }

}

@media (min-width: 768px) and (orientation:portrait) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;

        .intro--grid {
            grid-template-columns: 40% 60%;
        }

        .text--right {
            text-align: right;
            margin-right: 30px;
        }

        img {
            width: 70%;
        }
    }

}

@media (min-width: 768px) and (orientation:landscape) {
    .top {
        $margin: 20px;

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: .8rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;

        .intro--grid {
            grid-template-columns: 40% 60%;
        }

        .text--right {
            text-align: right;
            margin-right: 30px;
        }

        img {
            width: 40%;
        }
    }

    .container {
        $margin-1: 15px; //narrow
        $margin-2: 100px; //wide

        .margin-bottom-1 {
            margin-bottom: $margin-1;
        }

        .margin-bottom-2 {
            margin-bottom: $margin-2;
        }

        .margin-top-2 {
            margin-top: $margin-2;
        }

        .font-size-1 {
            font-size: 1.3rem;
            line-height: 2.7rem;
        }

        .font-size-2 {
            font-size: 1.2rem;
            line-height: 2.7rem;
        }

        .font-size-large {
            font-size: 2.3rem;
            line-height: 4rem;
        }

        .bio__edu {
            display: grid;
            grid-template-columns: 1fr 1fr
        }
    }

}

@media (min-width: 992px) {
    .top {
        $margin: 40px;

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;

        .intro--grid {
            grid-template-columns: 40% 60%;
        }

        .text--right {
            text-align: right;
            margin-right: 30px;
        }

        img {
            width: 65%;
        }
    }

    .container {
        $margin-1: 10px; //narrow
        $margin-2: 50px; //wide

        .margin-bottom-1 {
            margin-bottom: $margin-1;
        }

        .margin-bottom-2 {
            margin-bottom: $margin-2;
        }

        .margin-top-2 {
            margin-top: $margin-2;
        }

        .font-size-1 {
            font-size: 1.2rem;
            line-height: 2.6rem;
            width: 600px;
        }

        .font-size-2 {
            font-size: 1.1rem;
            line-height: 2.6rem;
        }

        .font-size-large {
            font-size: 2.2rem;
            line-height: 4rem;
        }

        .bio__edu {
            display: grid;
            grid-template-columns: 1fr 1fr
        }
    }
}


@media (min-width: 1200px) {
    .top {
        $margin: 50px;

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.2rem;
            margin-top: $margin;
            margin-bottom: 0;
        }

        margin-bottom: $margin;

        .intro--grid {
            grid-template-columns: 40% 60%;
        }

        .text--right {
            text-align: right;
            margin-right: 30px;
        }

        img {
            width: 55%;
        }

    }
}
