@media (min-width: 300px) {
  .container {
    max-width: 93vw; }

  .sitemap .sitemap--flex {
    margin: 0 auto;
    height: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.5rem; }
    .sitemap .sitemap--flex ls {
      font-size: .6rem;
      margin: 0; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 5px; }

  .next-project {
    height: auto;
    padding: 40px 0; }
    .next-project .hero-next {
      height: 140px; }

  .info {
    padding-top: 30px;
    padding-bottom: 30px; }
    .info .info--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: white; }
      .info .info--grid .info__card {
        margin-bottom: 20px; }
        .info .info--grid .info__card h3 {
          font-size: .8rem; }
        .info .info--grid .info__card h4 {
          font-size: 1rem; }

  #back-icon {
    width: 30px;
    z-index: 3; } }
@media (min-width: 576px) {
  .container {
    max-width: 540px; }

  .sitemap .sitemap--flex h3 {
    font-size: 1.7rem; }
  .sitemap .sitemap--flex ls {
    font-size: .8rem;
    margin: 0; }

  .next-project {
    height: auto;
    padding: 50px 0; }
    .next-project .hero-next {
      height: 200px; }

  .info--grid .info__card {
    margin-bottom: 20px; }
    .info--grid .info__card h3 {
      font-size: 1rem; }
    .info--grid .info__card h4 {
      font-size: 1.2rem; }

  #back-icon {
    width: 30px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; }

  .sitemap .sitemap--flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.8rem; }
    .sitemap .sitemap--flex ls {
      font-size: .8rem;
      margin: 0; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 10px; }

  .next-project {
    height: auto;
    padding: 60px 0; }
    .next-project .hero-next {
      height: 280px; }

  #back-icon {
    width: 35px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; }

  .next-project {
    height: auto;
    padding: 50px 0; }
    .next-project .hero-next {
      height: 350px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: flex;
      justify-content: space-between;
      color: white; }
      .info .info--grid .info__card {
        margin-top: 20px;
        margin-bottom: 0; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1000px; }

  .next-project {
    height: auto;
    padding: 70px 0; }
    .next-project .hero-next {
      height: 450px; } }
@media (min-width: 300px) and (orientation: portrait) {
  .top img {
    width: 100%; }
  .top h2 {
    font-size: 2.5rem; }
  .top h4 {
    font-size: 0.8rem;
    margin-top: 12px;
    margin-bottom: 0; }

  .info p {
    font-size: .9rem;
    line-height: 1.8rem;
    margin-bottom: 30px; }

  .photos {
    padding-top: 12px;
    padding-bottom: 12px; }

  .photo__section {
    margin-bottom: 12px; }

  .photo--grid--portrait32 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px; }

  .photo--grid--portrait3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px; }

  .photo--grid--land2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 12px; } }
@media (min-width: 576px) {
  .top img {
    width: 50%; }
  .top h2 {
    font-size: 2.5rem;
    letter-spacing: .1rem; }
  .top h4 {
    font-size: .8rem;
    margin-top: 15px;
    margin-bottom: 0; }

  .info p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 30px; }

  .photos {
    padding-top: 15px;
    padding-bottom: 15px; }

  .photo__section {
    margin-bottom: 15px; }

  .photo--grid--portrait32 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }

  .photo--grid--portrait3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }

  .photo--grid--land2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; } }
@media (min-width: 768px) and (orientation: portrait) {
  .top img {
    width: 70%; }
  .top h2 {
    font-size: 3.5rem;
    letter-spacing: .1rem; }
  .top h4 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 0; }

  .info p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 40px; }

  .photos {
    padding-top: 30px;
    padding-bottom: 30px; }

  .photo__section {
    margin-bottom: 15px; }

  .photo--grid--portrait32 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }

  .photo--grid--portrait3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }

  .photo--grid--land2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; } }
@media (min-width: 768px) and (orientation: landscape) {
  .top img {
    width: 40%; }
  .top h2 {
    font-size: 3rem;
    letter-spacing: .1rem; }
  .top h4 {
    font-size: .8rem;
    margin-top: 15px;
    margin-bottom: 0; }

  .info p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 40px; }

  .photos {
    padding-top: 30px;
    padding-bottom: 30px; }

  .photo__section {
    margin-bottom: 15px; }

  .photo--grid--portrait32 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }

  .photo--grid--portrait3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; }

  .photo--grid--land2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px; } }
@media (min-width: 992px) {
  .top img {
    width: 65%; }
  .top h2 {
    font-size: 3.5rem;
    letter-spacing: .1rem; }
  .top h4 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 0; }

  .info p {
    font-size: 1rem;
    line-height: 2.5rem;
    margin-bottom: 50px; }

  .photos {
    padding-top: 30px;
    padding-bottom: 30px; }

  .photo__section {
    margin-bottom: 20px; }

  .photo--grid--portrait32 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

  .photo--grid--portrait3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

  .photo--grid--land2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; } }
@media (min-width: 1200px) {
  .top img {
    width: 55%; }
  .top h2 {
    font-size: 3.5rem;
    letter-spacing: .1rem; }
  .top h4 {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 0; }

  .info p {
    font-size: 1.2rem;
    line-height: 2.7rem;
    margin-bottom: 30px; }

  .photos {
    padding-top: 50px;
    padding-bottom: 50px; }

  .photo__section {
    margin-bottom: 20px; }

  .photo--grid--portrait32 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

  .photo--grid--portrait3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

  .photo--grid--land2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; } }

/*# sourceMappingURL=res-photo.css.map */
